html, body{
    background-color: #B6C3E5;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    align-items: center;
    width: 399px;
    height: 460px;
    padding: 40px;
    padding-top: 0px;
    border: 1px solid;
    border-radius: 0px;
    border-color: blue;
    /* background-color: bisque; */
}

img{
    width: 60px;
    height: 60px;
    float: right;
    position: absolute; 
    left: 91.6%; 
    top: 0.7%;
    transform: translateY(-50%);
    transform: translateX(-50%)
}

.watermark{
    width: 200px;
    height: 200px;
    margin-left: -160px;
    margin-top: 125px;

}


.card-tittle{
    width: 398px;
    height: 70px;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    text-emphasis-color: #6372FF;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 55px;
    background-color: #1642B44D;
    
}   

.form-check-input{
    border: 1px solid;
    border-radius: 0px;
}

.btn{
    margin-top: 200px;
    width: 200px;
    border: 1px;
    border-radius: 0px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%)
    
}

.click{
    margin-top: 150px;
    width: 200px;
    border: 1px;
    border-radius: 0px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%)
    
}

.remin{
    margin-top: 60px;
    font-size: 12px;
    font-style: bold;
    font-family: Arial;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%)
}

.welcome{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 0px;
    display: flex;
    transform: translateY(-90%);
}


input[type="name"],
input[type="password"]{
    font-family: Arial;
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-radius: 0px;
    
}